{% extends 'app/base.html' %}
{% load static %}
{% block title %} Change Password Done{% endblock %}
{% block main-content %}
<div class="container mt-5 p-4">
 <div class="row d-flex justify-content-center m-4">
 <h3 class="text-center">Welcome Admin</h3>
  <div class="col-sm-4  shadow-lg rounded  ">
   <ul class="list-unstyled">
    <li><h3 class=" text-center text-success mt-4">Change Password Done</h3></li>
    <li class=" d-flex  justify-content-center m-4">
      <img src="{% static 'app/images/banner/success.gif' %}" alt="" srcset="" class="" width="70px" height="70px">
    </li>
    <li class="d-grid "><a href="{% url 'profile' %}" class="btn btn-primary">Start Shopping</a></li>

   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}